**/.DS_Store
**/.vscode
**/.zed
**/.ropeproject
**/__pycache__

examples/output
examples/profile.out
examples/input/main
examples/input/main.ll
examples/debug_branch_info.txt

compile.py.svg

poetry.lock
pyrightconfig.json
pyrefly.toml
